body {
    padding-top: 65px;
}

main {
    padding: 35px;
}

a {
    text-decoration: none !important;
}

/* custom css for navbar */
#navbar-user-pfp {
    width: 30;
    height: 30;
    border-radius: 100px;
    margin-right: 20px;
}
/*  */